.game-over-container-lose {
  width: 60%;
  height: calc(50% + 5vh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 14px;
  background-image: url("../assets/gameOver.avif");
  background-size: cover;
  background-position: center;
  z-index: 2;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.9);
}

.game-over-container-win {
  width: 60%;
  height: calc(50% + 5vh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 14px;
  background-image: url("../assets/win.avif");
  background-size: cover;
  background-position: center;
  z-index: 2;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.9);
}

#restart {
  background-color: #e2ab05;
  color: #ff0001;
  font-family: ferbtastic;
  font-size: 2rem;
  border-radius: 14px;
  padding: 5px 20px;
  border: none;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

#restart:hover {
  transform: scale(1.09);
}

.game-over-header {
  color: #ff0001;
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
  letter-spacing: 2px;
}

.game-over-para {
  color: #ff0001;
  font-size: 3rem;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
  letter-spacing: 2px;
  text-align: center;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .game-over-container-lose {
    width: 70%;
    padding: 2rem;
    gap: 3rem;
    height: calc(40% + 5vh);
    margin-top: 0.5rem;
  }

  .game-over-container-win {
    width: 70%;
    padding: 2rem;
    gap: 3rem;
    height: calc(40% + 5vh);
    margin-top: 0.5rem;
  }

  .game-over-header {
    font-size: calc(2rem + 1vw);
    letter-spacing: 1px;
  }

  .game-over-para {
    width: 100%;
    color: #ff0001;
    font-size: calc(1.2rem + 1vw);
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #restart {
    font-size: calc(1.2rem + 1vw);
  }
}
